div.container {
  max-width: 500px;
}

div.col-xs-4 > div:nth-child(1){
  display: none;
}

table {
  background-color: white;
}

tr th{
  color: #f9f9f9;
  background-color: 	#428bca;
}

tr:hover {
  cursor: pointer;
}

